{% load static %}<!DOCTYPE html>
<html>
<head>
	<title>LibreTotal - VirusTotal Front-End</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <style>
    @font-face {
        font-family: "Helvetica Rounded";
        src: url('{% static 'fonts/helvetica-rounded.otf' %}') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    </style>
</head>
<body>
    <div class="header">
        <h1 class="header-text">
            <a href="/" class="header-link">
                <span class="header1">Libre</span><span class="header2">Total</span>
            </a>
        </h1>
    </div>
		<form method="GET" action="/gui/search">
			<input type="text" id="hashValue" name="query" placeholder="Search for file hashes, IP addresses, domains or URLs...">
			<label for="classic">Classic Theme</label>
			<input type="checkbox" id="classic" name="classic" value="">
			<input type="submit" value="Search">
		</form>		
</body>
</html>