<!DOCTYPE html>
<html>
<head>
	<title>LibreTotal - VirusTotal Front-End</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <style>
    @font-face {
        font-family: "Helvetica Rounded";
        src: url('{{ url_for('static', filename='fonts/helvetica-rounded.otf') }}') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    </style>
</head>
<body>
    <div class="content">
    <div class="header">
        <h1 class="header-text">
            <a href="/" class="header-link">
                <span class="header1">Libre</span><span class="header2">Total</span>
            </a>
        </h1>
    </div>
		<form method="GET" action="/gui/search">
			<input type="text" id="hashValue" name="query" placeholder="Search for file hashes, IP addresses, domains or URLs...">
			<label for="classic">Classic Theme</label>
			<input type="checkbox" id="classic" name="classic" value="true">
			<input type="submit" value="Search">
		</form>
    </div>
        <footer class="site-footer">
            <div class="footer-container">
                <div class="footer-content">
                    <div class="footer-links">
                        <a href="https://github.com/MugoSquero/LibreTotal" target="_blank">Source Code</a>
                        <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">License (AGPLv3)</a>
                        <a href="{{ url_for('static', filename='policy.txt') }}" target="_blank">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>
